* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.837), rgba(0, 0, 0, 0.837)), url(Syntheticfibresbg.jpg);
  background-size: cover;
  background-position: center;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url(https://images.squarespace-cdn.com/content/v1/5a802676b7411c2497540b80/1588155691389-OUGIG19AYZM2XKGTSY7T/TEXINTEL+-+RECYCLED+SYNTHETIC+FIBRES.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.logo {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  width: 80px;
  height: 80px;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 40px;
  font-size: smaller;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: #ff5922;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.1s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 70px;
  margin-top: 70px;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  text-align: center;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  color: rgb(255, 155, 6);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.content img {
  border-radius: 20px;
  width: 400px;
  height: 300px;
  margin-top: 30px;
}

.content img:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(251, 25, 5);
  border-width: 5px;
  color: rgb(174, 255, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin-right: 20px;
}

.button:hover {
  background-color: rgb(255, 234, 6);
  color: rgb(150, 68, 38);
  font-weight: 20px;
  transition: 0.5s;
  border: 5px solid rgb(255, 123, 0);
}

.mn_cntnt h1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  text-align: center;
}

.mn_cntnt p {
  color: rgb(244, 162, 162);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.mn_cntnt img {
  width: 500px;
  height: 300px;
  border-radius: 40px;
  margin-left: 350px;
}

.mn_cntnt img:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  transition: 0.5s;
  transition-timing-function: ease-in;
}

.mn_cntnt h3 {
  color: aqua;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.mn_cntnt h2 {
  color: aqua;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

.planet_img {
  width: 300px;
  height: 250px;
  border-radius: 20px;
}
